name: CI-CD

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
    CI:
        runs-on: ubuntu-latest
        steps:
            - name: 2. Obtendo o código do projeto
              uses: actions/checkout@v5

            - name: 2. SonarQube Scan (SAST)
              uses: SonarSource/sonarqube-scan-action@v6.0.0
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              with:
                projectBaseDir: ./src
                scanMetadataReportFile: ./src/.scannerwork/report-task.txt
                args: >
                  -Dsonar.organization=tharcisio-mendonca
                  -Dsonar.projectKey=tharcisio-mendonca_eventos-tic
            - name: SonarQube Quality Gate check
              id: sonarqube-quality-gate-check
              uses: sonarsource/sonarqube-quality-gate-action@v1.2.0
              with:
                pollingTimeoutSec: 600
                scanMetadataReportFile: ./src/.scannerwork/report-task.txt
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                
            - name: Setup do Python
              uses: actions/setup-python@v6
              with:
                python-version: '3.13' 

            - name: 3. Instalação das Dependencias 
              working-directory: ./src
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
                
            - name: 3. Execução dos testes
              working-directory: ./src
              run: |
                python -m pytest tests/ -v                 

            - name: 3. Login to Docker Hub
              uses: docker/login-action@v3
              with: 
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: 3. Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                context: ./src
                file: ./src/Dockerfile
                push: true
                tags: |
                  tharcisiomendonca/web-project:latest
                  tharcisiomendonca/web-project:v${{ github.run_number }}
            - name: 4. Run Trivy scan (SAST / SCA)
              uses: aquasecurity/trivy-action@master
              with:
                image-ref: "tharcisiomendonca/web-project:v${{ github.run_number }}"
                format: "table"
                exit-code: 1
                ignore-unfixed: true
                severity: "CRITICAL"

    CD-Homolog:
        runs-on: ubuntu-latest
        needs: [CI]
        environment: homologacao
        steps:
            - name: 5 (HOMOLOG)- Obtendo o código do projeto
              uses: actions/checkout@v5

            - name: 5 (HOMOLOG) - Configurar contexto Kubernetes
              uses: azure/k8s-set-context@v4
              with:
                method: kubeconfig
                kubeconfig: ${{ secrets.KUBE_CONFIG }}

            - name: 5 (HOMOLOG) - Criar namespace de homologação
              run: kubectl create namespace web-homolog --dry-run=client -o yaml | kubectl apply -f -

            - name: 5 (HOMOLOG) - Criando secrets em homologação
              run: |
                kubectl create secret generic database-secret \
                  --from-literal=DATABASE_URL="${{ secrets.DATABASE_URL }}" \
                  --namespace=web-homolog \
                  --dry-run=client -o yaml | kubectl apply -f -

            - name: 5 (HOMOLOG) - Deploy no ambiente de homologação
              id: deploy
              uses: azure/k8s-deploy@v5
              with:
                namespace: 'web-homolog'
                manifests: |
                  k8s/deployment.yaml
            
            - name: Executar OWASP ZAP
              uses: zaproxy/action-baseline@v0.7.0
              with:
                token: ${{ secrets.GITHUB_TOKEN }}
                docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
                target: "https://${{ steps.deploy.outputs.managedClusterFQDN }}"
                cmd_options: '-a'     

    CD-Prod:
        runs-on: ubuntu-latest
        needs: [CD-Homolog]
        environment: producao
        steps:
            - name: 5 (PRODUCAO) - Obtendo o código do projeto
              uses: actions/checkout@v5

            - name: 5 (PRODUCAO)- Configurar contexto Kubernetes
              uses: azure/k8s-set-context@v4
              with:
                method: kubeconfig
                kubeconfig: ${{ secrets.KUBE_CONFIG }}

            - name: 5 (PRODUCAO) - Criar namespace de produção
              run: kubectl create namespace web-prod --dry-run=client -o yaml | kubectl apply -f -

            - name: 5 (PRODUCAO) - Criando secrets em Produção
              run: |
                kubectl create secret generic database-secret \
                  --from-literal=DATABASE_URL="${{ secrets.DATABASE_URL }}" \
                  --namespace=web-prod \
                  --dry-run=client -o yaml | kubectl apply -f -

            - name: 5 (PRODUCAO) - Deploy no ambiente de produção
              uses: azure/k8s-deploy@v5
              with:
                namespace: 'web-prod'
                manifests: |
                  k8s/deployment.yaml
